{% extends 'basic_app/basic_app_base.html' %}
{% block body_block %}
    
<div class="container">
    <div class="row">
        <div class="col-3">            
        </div>
        <div class="col-6">
            <h1>
                {% if not form.instance.pk %}
                    Create School
                {% else %}
                    Update School Information
                {% endif%}
            </h1>
            <hr>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="button" 
                value="{% if not form.instance.pk %}Create{% else %}Update{% endif%}" 
                class="btn btn-outline-danger">
            
            </form>
        </div>
    </div>
</div>


{% endblock %}