{% extends 'basic_app/basic_app_base.html' %}
{% block body_block %}
    
<div class="container">
    <div class="row">
        <div class="col">            
        </div>
        <div class="col">
            <h1>
                {% if not form.instance.pk %}
                    Create School
                {% else %}
                    Update School Information
                {% endif%}
            </h1>
            <hr>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="text-center">
                    <button type="submit" 
                    value="{% if not form.instance.pk %}Create{% else %}Update{% endif%}" 
                    class="btn btn-outline-danger">{% if not form.instance.pk %}Create{% else %}Update{% endif%}</button>
                    <a href="{% url 'basic_app:detail' pk=school.id %}" class="btn btn-outline-secondary">Cancel</a>
                </div>
            </form>
        </div>
        <div class="col">            
        </div>
    </div>
</div>


{% endblock %}