{% extends 'basic_app/basic_app_base.html' %}

{% block body_block %}
<div class="row">
    <div class="col-3">
    </div>
    <div class="col-6">
        <div class="text-center">
        <h1>Delete {{ school.name }} ?</h1>
        <hr>
        <form action="" method="post">
            {% csrf_token %}
                <button type="submit" class="btn btn-outline-danger">YES</button>
                <a href="{% url 'basic_app:detail' pk=school.id %}" class="btn btn-outline-success">NO</a>
        </form>
        </div>
    </div>
    <div class="col-3">

    </div>

</div>
{% endblock %}