{% extends 'basic_app/basic_app_base.html' %}
{% block body_block %}
<div class="jumbotron">
    <h1>Welcome to Student Detail View</h4>
    <h2>Student Details:</h2>
    <p>Name:{{student_detail.name}}</p>
    <p>Age: {{student_detail.age}}</p>
    <!-- make this a clickable link! -->
    <p>School: <a href="{% url 'basic_app:detail' pk=student_detail.school.id %}">{{ student_detail.school }}</a></p>
</div>
<div class="container">
    <p class="text-center">
        <a href="{% url 'basic_app:student_update' pk=student_detail.id %}" class="btn btn-outline-success">Update</a>
        <a href="{% url 'basic_app:student_delete' pk=student_detail.id %}" class="btn btn-outline-danger">Delete</a>
    </p>
</div>
{% endblock %}